<div class="faq-container">
    <div class="faq-header">
        <div id="header-big">What to Expect During the Ceremony</div>
        <div id="header-small">A Crash Course in Jewish Weddings</div>
    </div>
    <hr>

    <div class="faq-content">
        <div class="faq-fact">
            <span>Kippah</span>
            <p>The traditional Jewish head covering. Optional and kosher for all!</p>
        </div>
        

        <div class="faq-fact">
            <span>Chuppah</span>
            <p>The wedding canopy that symbolizes the home the bride and groom will build together.
                It is open on all sides to represent the openness to family, friends, and community.
            </p>
        </div>

        <div class="faq-fact">
            <span>Shehecheyanu</span>
            <p>A blessing that gives thanks to God for enabling us to experience a new or special occasion</p>
            <p>Baruch atah, Adonai Eloheinu, Melech haolam, shehecheyanu, v'kiy'manu, v'higiyanu laz'man hazeh</p>
        </div>

        <div class="faq-fact">
            <span>Birkat Erusin</span>
            <p>Betrothal blessing said over a glass of wine shared by the bride and groom</p>
        </div>

        <div class="faq-fact">
            <span>Exchange of the Rings</span>
            <p>The exchanging of wedding bands is a sign of commitment to one another.
                Traditionally, these rings are unembellished and placed on the right index finger, which is believed to be 
                connected by a special line directly to the heart.
            </p>
        </div>

        <div class="faq-fact">
            <span>Sheva Brachot</span>
            <p>The Seven Wedding Blessings
                <br>
                These blessings are recited in the themes of creation of the world and humankind; importance of marriage; joy, love, and peace.
            </p>
        </div>

        <div class="faq-fact">
            <span>Ketubah</span>
            <p>This is the Jewish marriage contract that is signed before the ceremony. It represents the bride and groom's commitment to each other.</p>
        </div>

        <div class="faq-fact">
            <span>Birkat Kohanim</span>
            <p>The Priestly Benediction is the final blessing bestowed upon the wedding couple. 
                During the blessing, the couple are wrapped in a tallit, a jewish prayer shawl, symbolizing their union.
            </p>
        </div>

        <div class="faq-fact">
            <span>Breaking of the Glass</span>
            <p>The ceremony concludes with the groom and bride smashing a glass under their foot. 
                After they smash the glass it is customary to clap and yell "Mazel Tov" which means "congratulations"!
            </p>
        </div>

        <div class="faq-fact">
            <span>Yichud</span>
            <p>In hebrew, yichud means "one" and represents the transition when two individuals become one.
                After the ceremony, the couple goes to a room for a few minutes of privacy. This is a period of
                bonding and reflection before the public celebration.
            </p>
        </div>

        <div class="faq-fact">
            <span>Seudat Mitzvah</span>
            <p>Guests at a Jewish wedding are commanded to share in the joy of the bride and groom. 
                The seudat mitzvah is a celebratory feast so please join us as we continue to celebrate
                their marriage into the evening. Stick around after dinner to enjoy our entertainment
                for the evening!
            </p>
            <h5>So let's Eat, Drink, and Be Married!</h5>
        </div>

        <div class="faq-fact border">
            <h3>Thank You</h3>
            <p>We would like to thank our friends and family for being here today to celebrate with us.
                More than anything else, it's the presence of people we love that makes this a joyous occasion.
            </p>
            <p>Without your continued love and support this day would not be possible.</p>
        </div>
    </div>
</div>