<div class="photo-hunt-container">
    <div id="photo-hunt-instructions">
        Hey there, go on a scavenger hunt and take pictures of the things we've listed below. Then upload your pictures to google drive!
    </div>

    <div class="checklist-container">
        <div *ngFor="let item of PHOTO_HUNT_ITEMS" class="checklist-item">
            <input class="form-check-input" type="checkbox" value="" [id]="formatListItem(item)">
            <label class="form-check-label" [for]="formatListItem(item)" [innerText]="item">
            </label>
        </div>
        <!-- <div class="checklist-item">
            <input class="form-check-input" type="checkbox" value="" id="theBride">
            <label class="form-check-label" for="theBride">
                The Bride
            </label>
        </div> -->

        <!-- <div class="checklist-item">
            <input class="form-check-input" type="checkbox" value="" id="theGroom">
            <label class="form-check-label" for="theGroom">
                The Groom
            </label>
        </div>

        <div class="checklist-item">
            <input class="form-check-input" type="checkbox" value="" id="dancing">
            <label class="form-check-label" for="dancing">
                Dancing
            </label>
        </div>

        <div class="checklist-item">
            <input class="form-check-input" type="checkbox" value="" id="donutWall">
            <label class="form-check-label" for="donutWall">
                Donut wall selfie
            </label>
        </div>

        <div class="checklist-item">
            <input class="form-check-input" type="checkbox" value="" id="goodDancer">
            <label class="form-check-label" for="goodDancer">
                A good dancer
            </label>
        </div>

        <div class="checklist-item">
            <input class="form-check-input" type="checkbox" value="" id="kiss">
            <label class="form-check-label" for="kiss">
                A kiss
            </label>
        </div>

        <div class="checklist-item">
            <input class="form-check-input" type="checkbox" value="" id="bridesmaids">
            <label class="form-check-label" for="bridesmaids">
                Bridesmaids
            </label>
        </div>

        <div class="checklist-item">
            <input class="form-check-input" type="checkbox" value="" id="happiness">
            <label class="form-check-label" for="happiness">
                Happiness
            </label>
        </div>

        <div class="checklist-item">
            <input class="form-check-input" type="checkbox" value="" id="youAndYourTable">
            <label class="form-check-label" for="youAndYourTable">
                You and your table
            </label>
        </div>

        <div class="checklist-item">
            <input class="form-check-input" type="checkbox" value="" id="flowers">
            <label class="form-check-label" for="flowers">
                The flowers
            </label>
        </div>

        <div class="checklist-item">
            <input class="form-check-input" type="checkbox" value="" id="goodFriends">
            <label class="form-check-label" for="goodFriends">
                Good friends
            </label>
        </div>

        <div class="checklist-item">
            <input class="form-check-input" type="checkbox" value="" id="happyFamily">
            <label class="form-check-label" for="happyFamily">
                A happy family
            </label>
        </div>

        <div class="checklist-item">
            <input class="form-check-input" type="checkbox" value="" id="sendOff">
            <label class="form-check-label" for="sendOff">
                The send off
            </label>
        </div>

        <div class="checklist-item">
            <input class="form-check-input" type="checkbox" value="" id="baby">
            <label class="form-check-label" for="baby">
                A baby
            </label>
        </div> -->
    </div>
    <a href="https://photos.google.com/share/AF1QipNiySNtfglbbBKm89AEseJV9QoO8k0jgArUHF1eD4rXurFK9TFTvvwyyxrr4N6pgQ?pli=1&key=Zi1UeWU4SnpESVlKcGc2bjlYcnloSHJPaWxET3BB">CLICK HERE TO UPLOAD YOUR FILES</a>
</div>