<div class="photo-hunt-container">
    <div id="photo-hunt-instructions">
        Hey there, go on a scavenger hunt and take pictures of the things we've listed below. Then upload your pictures to google drive!
    </div>

    <div class="checklist-container">
        <div *ngFor="let item of PHOTO_HUNT_ITEMS" class="checklist-item">
            <input class="form-check-input" type="checkbox" value="" [id]="formatListItem(item)">
            <label class="form-check-label" [for]="formatListItem(item)" [innerText]="item">
            </label>
        </div>
    </div>
    <a href="https://photos.google.com/share/AF1QipNiySNtfglbbBKm89AEseJV9QoO8k0jgArUHF1eD4rXurFK9TFTvvwyyxrr4N6pgQ?pli=1&key=Zi1UeWU4SnpESVlKcGc2bjlYcnloSHJPaWxET3BB">CLICK HERE TO UPLOAD YOUR PHOTOS</a>
</div>