<div class="crew-about">
    <div class="crew-about-header">Get to know the I-Do Crew!</div>

    <hr>

    <div class="photo-wall-container">
        <div class="image-text-pair">
            <img src="../../assets/images/i_do_crew/sarah.webp" (click)="ngxSmartModalService.getModal('sarahModal').open()">
            <div>Sarah Holstein - Maid of Honor</div>

            <ngx-smart-modal #sarahModal identifier="sarahModal" class="nsm-dialog-animation-fade modal">
                <h1>Sarah Holstein</h1>
                <p>
                    Pronouns: she/her
                    <br>
                    <br>
                    How I know Marisa: We met as newly minted college students when she did costumes and I did stage management for the freshman production of "Is He Dead?" We went on to be fellow theater nerds, sorority sisters, and housemates. 
                    <br>
                    <br>
                    Favorite dinosaur: Cera, the triceratops from Land Before Time.
                    <br>
                    <br>
                    Favorite sushi: sweet potato tempura roll.
                </p>
            </ngx-smart-modal>
        </div>

        <div class="image-text-pair">
            <img src="../../assets/images/i_do_crew/ilana.webp" (click)="ngxSmartModalService.getModal('ilanaModal').open()">
            <div>Ilana Mittleman - Sister of the Groom/Best(est) Woman</div>

            <ngx-smart-modal #ilanaModal identifier="ilanaModal" class="nsm-dialog-animation-fade modal">
                <h1>Ilana Mittleman</h1>
                <p>
                    Pronouns: she/her
                    <br>
                    <br>
                    How I met the happy couple: Met Jake at the hospital on October 7, 1991 (a great day). Met Marisa at Boda Borg and we got Chinese food as a break! Also got to spend lots of quality time quarantining in Newport at the start of the pandemic. 
                    <br>
                    <br>
                    Favorite dinosaur: Would have to be the Brachiosaurus.
                    <br>
                    <br>
                    Favorite sushi: spicy tuna.
                </p>
            </ngx-smart-modal>
        </div>

        <div class="image-text-pair">
            <img src="../../assets/images/i_do_crew/ben.webp" (click)="ngxSmartModalService.getModal('benModal').open()">
            <div>Ben Shapiro (not that one) - Brother of the Bride</div>

            <ngx-smart-modal #benModal identifier="benModal" class="nsm-dialog-animation-fade modal">
                <h1>Ben Shapiro</h1>
                <p>
                    Pronouns: he/him
                    <br>
                    <br>
                    How I know Marisa: I'm her brother.
                    <br>
                    <br>
                    Favorite dinosaur: Tiny the T-Rex from Meet the Robinsons
                    <br>
                    <br>
                    Favorite sushi: The Trust Me at SUGARFISH by Nozawa
                </p>
            </ngx-smart-modal>
        </div>

        <div class="image-text-pair">
            <img src="../../assets/images/i_do_crew/patrick.webp" (click)="ngxSmartModalService.getModal('patrickModal').open()">
            <div>Patrick Shannon - Future Brother-In-Law of the Groom</div>

            <ngx-smart-modal #patrickModal identifier="patrickModal" class="nsm-dialog-animation-fade modal">
                <h1>Patrick Shannon</h1>
                <p>
                    Pronouns: he/him
                    <br>
                    <br>
                    How I know Jake and Marisa: I'm dating Jake's sister, but only in an elaborate ruse to get closer to him. Met Marisa at Boda Borg. Couldn't ask for a better in-law-in-law!
                    <br>
                    <br>
                    Favorite dinosaur: That spitting dinosaur that took down Newman.
                    <br>
                    <br>
                    Favorite sushi: shrimp tempura roll
                </p>
            </ngx-smart-modal>
        </div>

        <div class="image-text-pair">
            <img src="../../assets/images/i_do_crew/danielle.webp" (click)="ngxSmartModalService.getModal('danielleModal').open()">
            <div>Danielle Kushner</div>

            <ngx-smart-modal #danielleModal identifier="danielleModal" class="nsm-dialog-animation-fade modal">
                <h1>Danielle Kushner</h1>
                <p>
                    Pronouns: she/her
                    <br>
                    <br>
                    How I know Marisa: We met through the AOII alumnae Facebook page when I was looking for a roommate. Best roommate turned best friend ever!
                    <br>
                    <br>
                    Favorite dinosaur: Reptar
                    <br>
                    <br>
                    Favorite sushi: any kind of hand roll
                </p>
            </ngx-smart-modal>
        </div>

        <div class="image-text-pair">
            <img src="../../assets/images/i_do_crew/jon.webp" (click)="ngxSmartModalService.getModal('jonModal').open()">
            <div>Jon Anton</div>

            <ngx-smart-modal #jonModal identifier="jonModal" class="nsm-dialog-animation-fade modal">
                <h1>Jon Anton</h1>
                <p>
                    Pronouns: he/him
                    <br>
                    <br>
                    How I know Jake: We were best friends in grad school. Before Jake and Marisa started dating, I told Jake he would marry Marisa one day!
                    <br>
                    <br>
                    Favorite dinosaur: T-Rex
                    <br>
                    <br>
                    Favorite sushi: shrimp tempura
                </p>
            </ngx-smart-modal>
        </div>

        <div class="image-text-pair">
            <img src="../../assets/images/i_do_crew/alexw.webp" (click)="ngxSmartModalService.getModal('alexWModal').open()">
            <div>Alex Witt</div>

            <ngx-smart-modal #alexWModal identifier="alexWModal" class="nsm-dialog-animation-fade modal">
                <h1>Alex Witt</h1>
                <p>
                    Pronouns: she/her
                    <br>
                    <br>
                    How I know Marisa: through Danielle
                    <br>
                    <br>
                    Favorite dinosaur: velociraptor
                    <br>
                    <br>
                    Favorite sushi: all of it, but if I had to choose - salmon avocado
                </p>
            </ngx-smart-modal>
        </div>

        <div class="image-text-pair">
            <img src="../../assets/images/i_do_crew/magnus.webp" (click)="ngxSmartModalService.getModal('magnusModal').open()">
            <div>Magnus Frennberg</div>

            <ngx-smart-modal #magnusModal identifier="magnusModal" class="nsm-dialog-animation-fade modal">
                <h1>Magnus Frennberg</h1>
                <p>
                    Pronouns: He/him
                    <br>
                    <br>
                    How I know Jake: Met in college, at Northeastern University. Jake was the smartest dude in our Discrete Math class while wearing a Nintendo T-shirt - all I needed.
                    <br>
                    <br>
                    Favorite Dinosaur: Brontosaurus
                    <br>
                    <br>
                    Favorite sushi: Maki roll with salmon, avocado and chili mayo on top
                </p>
            </ngx-smart-modal>
        </div>

        <div class="image-text-pair">
            <img src="../../assets/images/i_do_crew/dayna.webp" (click)="ngxSmartModalService.getModal('daynaModal').open()">
            <div>Dayna Lepofsky</div>

            <ngx-smart-modal #daynaModal identifier="daynaModal" class="nsm-dialog-animation-fade modal">
                <h1>Dayna Lepofsky</h1>
                <p>
                    Pronouns: she/her
                    <br>
                    <br>
                    How do you know Marisa? I know you from nightmare camp where we were each other's saving grace!
                    <br>
                    <br>
                    Favorite dinosaur: the one from Toy Story
                    <br>
                    <br>
                    Favorite sushi: Kani and cucumber roll NO AVOCADO
                </p>
            </ngx-smart-modal>
        </div>

        <div class="image-text-pair">
            <img src="../../assets/images/i_do_crew/shannon.webp" (click)="ngxSmartModalService.getModal('shannonModal').open()">
            <div>Shannon Banner</div>

            <ngx-smart-modal #shannonModal identifier="shannonModal" class="nsm-dialog-animation-fade modal">
                <h1>Shannon Banner</h1>
                <p>
                    Pronouns: she/her
                    <br>
                    <br>
                    How I know Jake: Jake and I met on a (likely very hot and muggy) Wednesday in August of 2016 as we both started improv classes at Station Theater in Houston, TX. We became fast friends and each other's security blankets to go to all the shows, form troupes, and try to start new social lives as adults. I'd lived in Houston nearly all my life, and Jake became one of my closest friends in a matter of months. My favorite memories are the after-show late nights at Katz's/Liberty/Henderson's, VR meetups, and all the times we pushed each other out of our comfort zones. So happy for Jake and Marisa!!!
                    <br>
                    <br>
                    Favorite dinosaur: Archaeopteryx (I took a quiz on the Natural History Museum website to find out what kind I was)
                    <br>
                    <br>
                    Favorite sushi: Philadelphia rolls, all the way
                </p>
            </ngx-smart-modal>
        </div>

        <div class="image-text-pair">
            <img src="../../assets/images/i_do_crew/spencer.webp" (click)="ngxSmartModalService.getModal('spencerModal').open()">
            <div>Spencer Ruskin</div>

            <ngx-smart-modal #spencerModal identifier="spencerModal" class="nsm-dialog-animation-fade modal">
                <h1>Spencer Ruskin</h1>
                <p>
                    Pronouns: he/him
                    <br>
                    <br>
                    How I know Marisa: I met Marisa when we were both in USY back in 2008. We were both juniors in high school and lived fairly far apart in different cities.
                    Throughout the remainder of my high school career, Marisa and I would get together with other friends from USY on the weekends at the youth group events and at parties. 
                    We had a solid group of people come together for Marisa whenever she would host a pool party or birthday at her home in Calabasas. 
                    Over the years as we have lived in different states we have continued to keep in touch and visit whenever Marisa is in town (I have never been to Boston before). 
                    It is a privilege to stand by her side as she marries Jake. Marisa is a true friend of over 14 years and we have seen each other grow into the adults we are today. 
                    I could not be happier for Marisa and Jake!
                    <br>
                    <br>
                    Favorite dinosaur: Velociraptor
                    <br>
                    <br>
                    Favorite sushi: salmon or toro nigiri
                </p>
            </ngx-smart-modal>
        </div>

        <div class="image-text-pair">
            <img src="../../assets/images/i_do_crew/kevin.webp" (click)="ngxSmartModalService.getModal('kevinModal').open()">
            <div>Kevin Krull</div>

            <ngx-smart-modal #kevinModal identifier="kevinModal" class="nsm-dialog-animation-fade modal">
                <h1>Kevin Krull</h1>
                <p>
                    Pronouns: he/him
                    <br>
                    <br>
                    How you know Jake: Sheridan College baby! I met you in orientation and gravitated towards you because you were the other American in the room at school in Ontario. 
                    Also you liked Weezer and playing guitar and video games so it was obviously a done deal.
                    The rest is history!
                    <br>
                    <br>
                    Favorite dinosaur: Pterodactyl
                    <br>
                    <br>
                    Favorite sushi: Crunchy Spicy Anything
                </p>
            </ngx-smart-modal>
        </div>

        <div class="image-text-pair">
            <img src="../../assets/images/i_do_crew/max.webp" (click)="ngxSmartModalService.getModal('maxModal').open()">
            <div>Max Bernstein</div>

            <ngx-smart-modal #maxModal identifier="maxModal" class="nsm-dialog-animation-fade modal">
                <h1>Max Bernstein</h1>
                <p>
                    Pronouns: he/him
                    <br>
                    <br>
                    How I know Marisa: She was the Mem/Kad that made me want to stay and eventually become Mem/Kad myself.
                    <br>
                    <br>
                    Favorite dinosaur: Archaeopteryx (It's one of the links between dinosaurs and birds)
                    <br>
                    <br>
                    Favorite sushi: I'm allergic to fish sooooooo
                </p>
            </ngx-smart-modal>
        </div>

        <div class="image-text-pair">
            <img src="../../assets/images/i_do_crew/nick.webp" (click)="ngxSmartModalService.getModal('nickModal').open()">
            <div>Nick Cascio</div>

            <ngx-smart-modal #nickModal identifier="nickModal" class="nsm-dialog-animation-fade modal">
                <h1>Nick Cascio</h1>
                
                <p>
                    Pronouns: he/him
                    <br>
                    <br>
                    How I know Jake: I have had the good fortune of knowing Jake for most of my life. 
                    Our families have been close for a long time and he has always been like an older brother to me. 
                    Throughout the years he has been an amazing friend, confidant, and role model. 
                    Jake has always been one of the easiest people in the world to talk to and I am honored to get to be a part of his and Marisa's wedding.
                    <br>
                    <br>
                    Favorite dinosaur: Ichthyosaur.
                    <br>
                    <br>
                    Favorite sushi: The best sushi I ever had was a snow crab nigiri in Japan.
                </p>
            </ngx-smart-modal>
        </div>

        <div class="image-text-pair">
            <img src="../../assets/images/i_do_crew/sherry.webp" (click)="ngxSmartModalService.getModal('sherryModal').open()">
            <div>Sherry Dahl</div>

            <ngx-smart-modal #sherryModal identifier="sherryModal" class="nsm-dialog-animation-fade modal">
                <h1>Sherry Dahl</h1>
                <p>
                    Pronouns: she/her
                    <br>
                    <br>
                    How I know Marisa: I met Marisa my freshman year at Tufts when we became AOII sisters! ❤️🐼
                    <br>
                    <br>
                    Favorite dinosaur: stegosaurus
                    <br>
                    <br>
                    Favorite sushi: shrimp tempura
                </p>
            </ngx-smart-modal>
        </div>

        <div class="image-text-pair">
            <img src="../../assets/images/i_do_crew/alexv.webp" (click)="ngxSmartModalService.getModal('alexVModal').open()">
            <div>Alex Villalta</div>

            <ngx-smart-modal #alexVModal identifier="alexVModal" class="nsm-dialog-animation-fade modal">
                <h1>Alex Villalta</h1>
                <p>
                    Pronouns: he/him
                    <br>
                    <br>
                    How I know Jake: When I saw him there for the first time, eyes cast low and slouched sleepily over the dimly lit conference table in Montgomery Hall, destiny called to me. 
                    I knew, right then and there, I had finally found him. The first person whose life would end by my own hands. 
                    But that story is for another, more futurely time. 
                    In actuality what happened is that I thought me and Jake had become friends in this class, but Jake was waaaaaaaaay less of my friend at that time that I thought. 
                    I mean, I ended up being right in the end, but I sort of misjudged the timing at the beginning there.
                    <br>
                    <br>
                    Favorite dinosaur: Dimetrodon
                    <br>
                    <br>
                    Favorite sushi: Salmon Nigiri
                </p>
            </ngx-smart-modal>
        </div>

        <div class="image-text-pair">
            <img src="../../assets/images/i_do_crew/ella.webp" (click)="ngxSmartModalService.getModal('ellaModal').open()">
            <div>Ella Furman</div>

            <ngx-smart-modal #ellaModal identifier="ellaModal" class="nsm-dialog-animation-fade modal">
                <h1>Ella Furman</h1>
                <p>
                    Pronouns: she/her
                    <br>
                    <br>
                    How I know Marisa: Marisa is my cousin (but borders on older sister since she's been a major part of my life).
                    <br>
                    <br>
                    Favorite dinosaur: styracosaurus
                    <br>
                    <br>
                    Favorite sushi: spicy scallop roll
                </p>
            </ngx-smart-modal>
        </div>
    </div>
</div>
