<html>
    <body>
        <div class="website-container">
            <app-top-bar (currTabEmitter)="setCurrTab($event)"></app-top-bar>
        </div>
        <div class="content-container">
            <app-home *ngIf="currTab == HOME"></app-home>
            <app-schedule *ngIf="currTab == SCHEDULE"></app-schedule>
            <app-faq *ngIf="currTab == FAQ"></app-faq>
            <app-games *ngIf="currTab == GAMES"></app-games>
            <app-wedding-party-about *ngIf="currTab == CREW"></app-wedding-party-about>
            <app-song-lyrics *ngIf="currTab == LYRICS"></app-song-lyrics>
        </div>
    </body>
</html>