.timeline-app {
    height: 100%;

    display: flex;
    flex-flow: column;
    align-items: center;

    background: #ffe1fb;

    .events-container {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: space-evenly;
    }
}